@model List<SistemaMundoNovo.Models.Livro>
@using SistemaMundoNovo.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista de Livros</h2>

<p>
    @Html.ActionLink("Cadastrar Livros", "Create","Livros", null, new { @class = "btn btn-primary" })
</p>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            @using (Html.BeginForm("Busca", "Livros", FormMethod.Get))
            {
                <label class="h4">Buscar livro</label>
                <input type="text" class="form-control" name="busca" maxlength="150" placeholder="Insira o nome do livro" minlenght="3" />
                <input type="submit" value="Buscar" class="btn btn-info" style="margin-top:5px;margin-bottom:20px;" />
            }
            @if (ViewBag.resultado != null)
            {
                <br />
                <span style="color:red;">Livro não encontrado</span>
            }
        </div>
    </div>
</div>

<table class="table">
    <tr>
        @* <th>
                @Html.DisplayNameFor(model => model._Bibliotecario.Nome)
            </th>*@
        <th>
            Título
        </th>
        <th>
           Autor
        </th>
        <th>
           Data
        </th>
        <th>
           Descrição
        </th>
        <th>
           Categoria
        </th>
    </tr>

    @if (Model != null)
    {
        foreach (Livro item in Model)
        {
    <tr>
        @*<td>
            @Html.DisplayFor(modelItem => item._Bibliotecario.Nome)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.titulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.autor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ano.Year)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.categoria.Nome)
        </td>
        <td>
            @Html.ActionLink("Emprestar", "Create", "Emprestimos", new { id = item.id }, new { @class = "btn btn-success" }) |
            @Html.ActionLink("Editar", "Edit", "Livros", new { id = item.id }, new { @class = "btn btn-warning" }) |
            @Html.ActionLink("Detalhes", "Details", "Livros", new { id = item.id }, new { @class = "btn btn-info" }) |
            @Html.ActionLink("Excluir", "Delete", "Livros", new { id = item.id }, new { @class = "btn btn-danger" })
        </td>
    </tr>
        }
    }
    else
    {
        foreach (Livro item in ViewBag.TodosLivros)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.titulo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.autor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ano.Year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.categoria.Nome)
                </td>
                <td>
                    @Html.ActionLink("Emprestar", "Create", "Emprestimos", new { id = item.id }, new { @class = "btn btn-success" }) |
                    @Html.ActionLink("Editar", "Edit", "Livros", new { id = item.id }, new { @class = "btn btn-warning" }) |
                    @Html.ActionLink("Detalhes", "Details", "Livros", new { id = item.id }, new { @class = "btn btn-info" }) |
                    @Html.ActionLink("Excluir", "Delete", "Livros", new { id = item.id }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }
    }

</table>
